project:
  type: website
  output-dir: docs

website:
  title: "My Quarto Website"
  navbar:
    left:
      - text: Home
        href: index.qmd
      - text: About
        href: about.qmd

format:
  html:
    css: style.css
    theme: cosmo
